// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #CCBBFE; /*#C879B2; */
  color: #cdcdcd;
  font-family: Georgia, Times, serif;
}

.container{
  color: #000;
} 

.content {
/*  border-left: 2px solid #F7F7F7;
  border-right: 2px solid #F7F7F7; */
  margin-top: 0px;
  border-right: 2px solid #F7F7F7;
  color: #000;
}

.sidebar-link {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 0px;
  color: #000;
}

.sidebar-link li {
  padding-bottom: 10px;
  color: #000;
}

.sidebar-hr {
  margin-bottom: 7px;
  margin-top: 7px;
  color: #000;
}

.sidebar-header {
  margin-left: 10px;
  color: #000;
}

.left, .inner {
    padding: 1em;
}

#left-content, #right-content {
  border-radius: 8px;
  background: #F7F7F7;
  padding: 0.075em 1em 0.5em 1em;
  margin-top: 15px;
  color: #000;
}

.cartless {
  color: #F4B400;
  color: #000;
}

.details {
  padding-bottom: 10px;
  color: #000;
}

.titles {
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #F4B400; 
  color: #000;
  font-size: 100%;
  text-transform: uppercase;
  display: block;
  height: 2.5em;
  text-align: center;
}

.table-shift {
  margin-left: -70px;
  width: 40em;
  padding-left: -20px;
  color: #000;
}

.book-title {
  margin-right: 10px;
  color: #000;
}

footer {
  text-align: center;
  margin-top: 20px;
  border-top: 2px solid #F7F7F7;
  padding-top: 5px;
  color: #000;
}

.alert {
  text-align: center;
  font-weight: bold;
  color: #000;
}

.btnwidth {
  width: 5em;
  color: #000;
}

/*
#book-show {
  margin-left: -70px;
  width: 40em;
}
*/

.price-class {
  color: #000;
  display: inline-block;
  margin-top: 5px;
}

#clear-cart-btn, #checkout-btn {
  display: inline-block;
  color: #000;
}

#cart-total {
  padding-bottom: 1.5em;
  color: #000;
}

#signup-link {
  font-size: 200%;
  color: #000;
}

.user-list {
  padding-bottom: 5px;
  color: #000;
}

#new-user-link {
  padding-top: 30px;
  color: #000;
}

#paginate {
  border-bottom: 1px solid #F7F7F7;
  margin-bottom: 15px;
  color: #000;
}

a {
  color: #000;
}